# Dependencies
node_modules/
mobile/node_modules/

# Build output
dist/
tsconfig.tsbuildinfo
types/

# Testing
junit-test-results.xml
coverage/
.jest/
api-server/.coverage
api-server/coverage.lcov
web-app/coverage/
web-app/.wtr/

# React Native
.expo/
.expo-shared/
npm-debug.*
yarn-error.log
yarn.lock

# Android
android/app/build/
android/app/.cxx/
android/build/
android/.gradle/
android/local.properties
mobile/android/app/build/
mobile/android/app/.cxx/
mobile/android/build/
mobile/android/.gradle/
mobile/android/local.properties
*.keystore
!debug.keystore

# iOS
ios/Pods/
ios/build/
mobile/ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local
mobile/ios/.xcode.env.local

# macOS
.DS_Store

# Python API server
api-server/venv/
api-server/.venv/
__pycache__/
**/__pycache__/
*.pyc
api-server/.pytest_cache/

# Sentry
android/sentry.properties
ios/sentry.properties
mobile/android/sentry.properties
mobile/ios/sentry.properties

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
mobile/.env
api-server/.env

# Misc
.idea/
